.streams-archive {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: wrap;
	}

	@include media-breakpoint-up(lg) {
		display: grid;
		height: 100%;
		grid-auto-flow: column;
		grid-template-rows: 50% 50%;
		grid-auto-columns: calc(84.896vh - #{$header-height-desktop-mobile});
	}

	@media (min-width: $xxl-breakpoint) {
		grid-auto-columns: calc(84.896vh - #{$header-height-desktop});
	}
}

.streams-filter {
	margin-top: 54px;
	margin-bottom: 0;
	padding: 15px 15px 60px;
	display: flex;
	justify-content: center;
	-webkit-transform: translateZ(0px);

	@media (min-width: $xxl-breakpoint) {
		margin-top: 80px;
	}

	li:nth-child(even) {
		button {
			transform: rotate(45deg) translate(45.75%, 45.75%) translateZ(0px);
		}
	}

	li + li {
		margin-left: -24.5px;

		@media (min-width: $xxl-breakpoint) {
			margin-left: -33.5px;
		}
	}

	button {
		position: relative;
		width: 70px;
		height: 70px;
		padding: 0;
		outline: 0;
		border: 6px solid #3d4055;
		transform: rotate(45deg) translateZ(0px);
		overflow: hidden;
		color: theme-color("light");
		background-color: theme-color("dark");
		transition: all 300ms ease;

		@media (min-width: $xxl-breakpoint) {
			width: 98px;
			height: 98px;
			border-width: 8.4px;
		}

		&::before,
		&::after {
			position: absolute;
			content: "";
			top: -21px;
			left: -21px;
			width: 100px;
			height: 100px;
			z-index: 33;
			transform: rotate(-45deg) translateZ(0px);
			transition: all 300ms ease;

			@media (min-width: $xxl-breakpoint) {
				top: -29.5px;
				left: -29.5px;
				width: 140px;
				height: 140px;
			}
		}

		&::before {
			z-index: 34;
			mix-blend-mode: multiply;
			background-color: #6b7199;
		}

		&::after {
			z-index: 35;
			mix-blend-mode: screen;
			background-color: #151720;
		}

		img {
			width: 100px;
			height: 100px;
			margin-top: -21px;
			margin-left: -21px;
			object-fit: cover;
			transform: rotate(-45deg) translateZ(0px);
			filter: grayscale(100%);

			@media (min-width: $xxl-breakpoint) {
				width: 140px;
				height: 140px;
				margin-top: -29.5px;
				margin-left: -29.5px;
			}
		}

		&:hover,
		&.active {
			position: relative;
			z-index: 1;
			border-color: theme-color("primary");

			img {
				filter: grayscale(0);
			}

			&::before,
			&::after {
				opacity: 0;
			}
		}
	}
}

.stream {
	position: relative;
	width: 100%;
	height: 56.25vw;

	body:not(.cursor-is--active) & {
		cursor: pointer;
	}

	@include media-breakpoint-up(md) {
		width: 50%;
		height: 23.125vw;
	}

	@include media-breakpoint-up(lg) {
		width: calc(84.896vh - #{$header-height-desktop-mobile});
		height: calc(50vh - #{$header-height-desktop-mobile} / 2);
	}

	@media (min-width: $xxl-breakpoint) {
		width: calc(84.896vh - #{$header-height-desktop});
		height: calc(50vh - #{$header-height-desktop} / 2);
	}

	.player-info-page & {
		width: 100%;
		height: auto;
	}

	&__thumbnail {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:before {
			content: "";
			background-color: rgba(#000, .6);
			transition: background-color 300ms ease;

			.stream:hover & {
				background-color: rgba(#000, .5);
			}
		}
	}

	&__header,
	&__thumbnail:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px;

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(padding, 20);
			}
		}
	}

	&__info {
		flex: 1 0 auto;
		padding-right: 40px;

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(padding-right, 40);
			}
		}
	}

	&__avatar {
		float: left;
		margin-right: 8px;
		margin-bottom: 40px;

		@media (min-width: $xxl-breakpoint) {
			margin-right: 12px;
		}

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(margin-right, 8);
				@include fluid-value(margin-bottom, 40);
			}
		}

		img {
			vertical-align: top;
			width: 26px;
			height: 26px;

			@media (min-width: $xxl-breakpoint) {
				width: 36px;
				height: 36px;
			}

			.site-layout--horizontal & {
				@include media-breakpoint-up(lg) {
					@include fluid-value(width, 26);
					@include fluid-value(height, 26);
				}
			}
		}
	}

	&__title {
		padding-top: 2px;
		margin-bottom: 2px;
		font-size: .6875rem;
		color: theme-color("light");

		@media (min-width: $xxl-breakpoint) {
			margin-bottom: 3px;
			font-size: 1rem;
		}

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(padding-top, 2);
				@include fluid-value(margin-bottom, 2);
				@include fluid-value(font-size, 11);
			}
		}
	}

	&__date {
		font-size: .5625rem;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		letter-spacing: -.03em;
		line-height: 1;
		color: $body-color-dark;

		@media (min-width: $xxl-breakpoint) {
			font-size: .75rem;
		}

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(font-size, 9);
			}
		}
	}

	&__icon {
		position: absolute;
		right: 50%;
		bottom: 50%;
		display: block;
		overflow: hidden;
		border-radius: 20%;
		transform: translateX(50%) translateY(75%) rotate(0deg) skewY(30deg) scaleX(.866) translateZ(0px);

		&,
		&:after,
		&:before {
			width: 1.375rem;
			height: 1.375rem;

			@media (min-width: $xxl-breakpoint) {
				width: 2rem;
				height: 2rem;
			}

			.site-layout--horizontal & {
				@include media-breakpoint-up(lg) {
					@include fluid-value(width, 22);
					@include fluid-value(height, 22);
				}
			}
		}

		&:after,
		&:before {
			position: absolute;
			background: theme-color("light");
			pointer-events: auto;
			content: "";
		}

		&:after {
			border-radius: 20% 20% 53% 20%;
			transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%) translateZ(0px);
		}

		&:before {
			border-radius: 20% 20% 20% 53%;
			transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%) translateZ(0px);
		}
	}

	.btn-twitch {
		font-size: .625rem;
		padding: .6875rem 1.125rem .5rem;

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(padding-top, 11);
				@include fluid-value(padding-right, 18);
				@include fluid-value(padding-bottom, 8);
				@include fluid-value(padding-left, 18);
				@include fluid-value(font-size, 10);
			}
		}

		i {
			vertical-align: sub;
		}
	}
}

.badge--live {
	position: relative;

	&:before {
		position: absolute;
		left: 100%;
		top: 2px;
		margin-left: 6px;
		padding: 1px 2px;
		content: "live";
		font-size: .375rem;
		letter-spacing: 0;
		line-height: 1;
		text-transform: uppercase;
		border-radius: 2px;
		color: theme-color("light");


		@media (min-width: $xxl-breakpoint) {
			top: 4px;
			margin-left: 12px;
			padding-top: 2px;
			font-size: .5625rem;
		}

		.site-layout--horizontal & {
			@include media-breakpoint-up(lg) {
				@include fluid-value(top, 2);
				@include fluid-value(margin-left, 2);
				@include fluid-value(padding-top, 1);
				@include fluid-value(padding-right, 2);
				@include fluid-value(padding-bottom, 1);
				@include fluid-value(padding-left, 2);
				@include fluid-value(font-size, 6);
				@include fluid-value(border-radius, 2);
			}
		}
	}
}

// Badge separate element
.badge-live {
	background-color: theme-color("danger");
	border-radius: 2px;
	font-size: .375rem;
	vertical-align: top;
	margin-left: 1em;
	padding-top: .1em;
	padding-bottom: .1em;

	@include media-breakpoint-up(lg) {
		font-size: .5625rem;
	}

	@media (min-width: $xxl-breakpoint) {
		font-size: .5625rem;
	}
}

// Button Twitch on Streams
.btn-twitch--advanced {

	i {
		margin: 0;
	}

	.btn__text-inner {
		margin-left: .5em;
	}
}
