<!-- Blog Navigation -->
<nav aria-label="Blog navigation">
	<ul class="pagination pagination--circle pagination--blog justify-content-center">
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
		<li class="page-item"><a class="page-link" href="#">10</a></li>
	</ul>
</nav>
<!-- Blog Navigation / End -->