<!-- Post Comment Form -->
<div class="post-comment-form">
	<header class="section-heading section-heading--sm section-heading--divider-bottom section-heading--left">
		<h2 class="section-heading__title">Leave a Comment</h2>
	</header>
	<div class="post-comment-form__content">
		<form action="#" class="comment-form">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" id="input-name" name="input-name" class="form-control" placeholder="Your Name...">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" id="input-email" name="input-email" class="form-control" placeholder="Your Email...">
					</div>
				</div>
			</div>
			<div class="form-group form-group--lg">
				<textarea name="textarea-comment" id="textarea-comment" rows="7" class="form-control" placeholder="Your Comment..."></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-outline-secondary btn-lg">Post Comment</button>
			</div>
		</form>
	</div>
</div>
<!-- Post Comment Form / End -->
