<!-- Post Author -->
<div class="post-author box-outline">
	<header class="post-author__header">
		<figure class="post-author__avatar">
			<img src="assets/img/samples/post-author-avatar.png" alt="">
		</figure>
		<div class="post-author__info">
			<h5 class="post-author__name">Emmy Howard</h5>
			<p class="post-author__nickname">apollo87</p>
		</div>
		<div class="post-author__links">
			<a href="#" class="post-author__link btn btn-outline-secondary btn--icon-cirlce"><i class="ion-email"></i></a>
			<a href="#" class="post-author__link btn btn-outline-secondary btn--icon-cirlce"><i class="ion-earth"></i></a>
		</div>
	</header>
	<div class="post-author__content">
		<p>Quisque libero erat, tempus ut finibus at, facilisis vitae sapien. Pellentesque elementum sit amet risus sed finibus. Curabitur ut scelerisque ipsum. Aenean sodales libero at libero ornare, eu lacinia turpis elementum. Maecenas finibus, erat id accumsan elementum, est nisl mattis lectus, eu convallis ipsum velit eu arcu.</p>
	</div>
</div>
<!-- Post Author / End -->