<!-- Post Comments -->
<div class="post-comments">
	<header class="section-heading section-heading--sm section-heading--divider-bottom section-heading--left">
		<h2 class="section-heading__title">Comments(4)</h2>
	</header>
	<div class="post-comments__content">

		<ul class="comments">

			<!-- Comment -->
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar">
								<img src="assets/img/samples/comment-avatar-1.png" alt="">
							</figure>
							<div class="comment__author-info">
								<h5 class="comment__author-name">Michael Scott</h5>
								<time class="comment__post-date" datetime="2017-02-27">February 27, 2017 at 2:42 pm</time>
							</div>
						</div>
					</header>
					<div class="comment__body">
						<p>Sed id sapien eu tellus vestibulum tempor ut sit amet risus. Sed dapibus blandit maximus. Nam convallis dapibus risus ut efficitur. Curabitur interdum quam vitae ullamcorper fermentum. Integer lacinia varius mi, at feugiat felis vulputate at. Praesent sed laoreet diam, eget pellentesque nibh. </p>
					</div>
					<footer class="comment__footer">
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</footer>
				</div>
			</li>
			<!-- Comment / -->

			<!-- Comment -->
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar">
								<img src="assets/img/samples/comment-avatar-2.png" alt="">
							</figure>
							<div class="comment__author-info">
								<h5 class="comment__author-name">Angela Martin</h5>
								<time class="comment__post-date" datetime="2017-02-25">February 25, 2017 at 5:11 pm</time>
							</div>
						</div>
					</header>
					<div class="comment__body">
						<p>Vivamus rhoncus nibh nisi, sit amet faucibus ante viverra et. Ut dolor velit, iaculis id dolor condimentum, convallis porta felis.</p>
					</div>
					<footer class="comment__footer">
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</footer>
				</div>

				<!-- Nested Comments -->
				<ul class="children">

					<!-- Comment 2nd Level -->
					<li class="comments__item">
						<div class="comments__inner">
							<header class="comment__header">
								<div class="comment__author">
									<figure class="comment__author-avatar">
										<img src="assets/img/samples/comment-avatar-3.png" alt="">
									</figure>
									<div class="comment__author-info">
										<h5 class="comment__author-name">Kelly Kapoor</h5>
										<time class="comment__post-date" datetime="2017-02-25">February 25, 2017 at 5:15 pm</time>
									</div>
								</div>
							</header>
							<div class="comment__body">
								<p>Pellentesque elementum sit amet risus sed finibus. Curabitur ut scelerisque ipsum. Aenean sodales libero at libero ornare, eu lacinia turpis elementum. Maecenas finibus, erat id accumsan elementum, est nisl mattis lectus, eu convallis ipsum velit eu arcu.</p>
							</div>
							<footer class="comment__footer">
								<div class="comment__reply">
									<a href="#" class="comment__reply-link">Reply</a>
								</div>
							</footer>
						</div>
					</li>
					<!-- Comment 2nd Level / End -->

					<!-- Comment 2nd Level -->
					<li class="comments__item bypostauthor">
						<div class="comments__inner">
							<header class="comment__header">
								<div class="comment__author">
									<figure class="comment__author-avatar">
										<img src="assets/img/samples/post-author-avatar.png" alt="">
									</figure>
									<div class="comment__author-info">
										<h5 class="comment__author-name">Emmy Howard</h5>
										<time class="comment__post-date" datetime="2017-02-25">February 28, 2017 at 3:10 pm</time>
									</div>
								</div>
							</header>
							<div class="comment__body">
								<p>Sed dapibus blandit maximus. Nam convallis dapibus risus ut efficitur. Curabitur interdum quam vitae ullamcorper fermentum. Integer lacinia varius mi, at feugiat felis vulputate at. Praesent sed laoreet diam, eget pellentesque nibh.</p>
							</div>
							<footer class="comment__footer">
								<div class="comment__reply">
									<a href="#" class="comment__reply-link">Reply</a>
								</div>
							</footer>
						</div>
					</li>
					<!-- Comment 2nd Level / End -->

				</ul>
				<!-- Nested Comments / End -->
			</li>
			<!-- Comment / -->

			<!-- Comment -->
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar">
								<img src="assets/img/samples/comment-avatar-4.png" alt="">
							</figure>
							<div class="comment__author-info">
								<h5 class="comment__author-name">Erin Hannon</h5>
								<time class="comment__post-date" datetime="2017-01-12">January 12, 2017 at 1:12 am</time>
							</div>
						</div>
					</header>
					<div class="comment__body">
						<p>Vivamus rhoncus nibh nisi, sit amet faucibus ante viverra et. Ut dolor velit, iaculis id dolor condimentum, convallis porta felis.</p>
					</div>
					<footer class="comment__footer">
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</footer>
				</div>
			</li>
			<!-- Comment / -->

		</ul>

	</div>
</div>
<!-- Post Comments / End -->