<!-- Main Navigation Left -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="/"><i class="fas fa-home"></i> &nbsp; Home</a></li>
		<li class="{{#ifpage 'page-about.hbs'}}active{{/ifpage}}">
			<a href="#">Team</a>
			<ul class="main-nav__sub">
				<li class="{{#ifpage 'team-selection-1' 'devops' 'team-selection-3'}}active{{/ifpage}}">
					<a href="#">Team Breakdown</a>
					<ul class="main-nav__sub">
						<li class="{{#ifpage 'devops'}}active{{/ifpage}}"><a
								href="devops.html">Engineering,
								Dev, Devops
							</a></li>
						<li class="{{#ifpage 'team-selection-3'}}active{{/ifpage}}"><a
								href="discovery-applied.html">Discovery Lab /
								Applied Intelligence
							</a></li>
						<li class="{{#ifpage 'team-selection-3'}}active{{/ifpage}}"><a
								href="team-selection-3.html">Digital
								Platforms
							</a></li>
					</ul>
				</li>
				<li class="{{#ifpage 'team-overview'}}active{{/ifpage}}"><a href="team-overview.html">Team
						Leadership</a></li>
				<li class="{{#ifpage 'cto'}}active{{/ifpage}}"><a href="cto.html">CTO</a></li>
			</ul>
		</li>
		<li
			class="{{#ifpage 'projects' 'matches-upcoming' 'matches-standings' 'matches-stats-1' 'matches-stats-2' 'matches-stats-3' 'matches-lineups-1' 'matches-lineups-2' 'matches-lineups-3' 'matches-overview-1' 'matches-overview-2' 'matches-replay'}}active{{/ifpage}}">
			<a href="#">Projects</a>
			<ul class="main-nav__sub">
				<li class="{{#ifpage 'projects'}}active{{/ifpage}}"><a href="projects.html">Previous Projects</a>
				</li>


				<li class="{{#ifpage 'featured-projects'}}active{{/ifpage}}"><a
						href="featured-projects.html">Featured</a></li>
			</ul>
		</li>
	</ul>
</nav>
<!-- Main Navigation Left / End -->