<!-- Mobile Navigation -->
<nav class="mobile-nav">
	<ul class="mobile-nav__list">


			
<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="/"><i class="fas fa-home"></i> &nbsp; Home</a></li>
				<li class="{{#ifpage 'team-overview'}}active{{/ifpage}}"><a href="team-overview.html">Team
						Leadership</a></li>
				<li class="{{#ifpage 'projects'}}active{{/ifpage}}"><a href="projects.html"> Projects</a>
				
				<li class="{{#ifpage 'home' }}active{{/ifpage}}"><a href="home.html">News</a>
				<li class="{{#ifpage 'shop'}}active{{/ifpage}}"><a href="#">How To</a></li>
				<li class="{{#ifpage 'shop-2'}}active{{/ifpage}}"><a href="#">Studio Intake</a></li>
		

		
		
	</ul>
</nav>
<!-- Mobile Navigation / End -->