<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<!-- Post -->
			<article class="post post--single">
				<figure class="post__thumbnail">
					<img src="assets/img/samples/news-post-img-01.jpg" alt="">
				</figure>
				<ul class="post__sharing">
					<li class="post__sharing-item post__sharing-item--menu"><a href="home.html"><i>&nbsp;</i></a></li>
					<li class="post__sharing-item"><a href="https://www.facebook.com/danfisher.dev/"></a></li>
					<li class="post__sharing-item"><a href="https://twitter.com/danfisher_dev"></a></li>
					<li class="post__sharing-item post__sharing-item--comments">
						<a href="#comments">
							<span>4</span>
							<svg role="img" class="df-icon df-icon--comments-small">
								<use xlink:href="/assets/img/necromancers.svg#comments-small" />
							</svg>
						</a>
					</li>
				</ul>
				<div class="post__header">
					<div class="post__cats h6">
						<span class="color-warning">Tech Challenges</span>
					</div>
					<h2 class="post__title h3">COMET FOR THE WIN!</h2>
					<div class="post__meta">
						<span class="meta-item meta-item--date">August 15th, 2018</span>
					</div>
				</div>
				<div class="post__body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim en veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
						ex ea derum commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
						eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum modi tempora incidunt.
					</p>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
						aperiam, eaque ipsa quae ab illo lorem inventore veritatis et quasi architecto beatae vitae dicta sunt
						explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
						magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora der incidunt ut labore
						et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
						corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
						reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
						fugiat?
					</p>
					<figure>
						<img src="assets/img/samples/news-post-img-02.jpg" alt="">
						<figcaption>This is "Stormy" the last character that was introduced to the game</figcaption>
					</figure>
					<p>
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
						laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
						explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
						magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
						dolore magnam aliquam quaerat.
					</p>
				</div>
			</article>
			<!-- Post / End -->
			<!-- Post Comments -->
			<div class="post-comments" id="comments">
				<h4 class="post-comments__title">Comments (4)</h4>
				<ol class="comments">
					<li class="comment">
						<div class="comment__avatar">
							<img src="assets/img/samples/news-post-img-03.jpg" alt="">
						</div>
						<div class="comment__body">
							<h6 class="comment__author">Mark Stark</h6>
							<p>
								Magni dolores eos qui ratione voluptatem sequi nesciunt der voluptate velit esse cillum dolore eu
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
								id est laborum.
							</p>
							<div class="comment__meta">
								<time class="comment__date">5 minutes ago</time>
								<div class="comment__reply"><a href="#">Reply</a></div>
							</div>
						</div>
					</li>
					<li class="comment">
						<div class="comment__avatar">
							<img src="assets/img/samples/news-post-img-04.jpg" alt="">
						</div>
						<div class="comment__body">
							<h6 class="comment__author">Marina Valentine</h6>
							<p>
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia.
							</p>
							<div class="comment__meta">
								<time class="comment__date">23 minutes ago</time>
								<div class="comment__reply"><a href="#">Reply</a></div>
							</div>
						</div>
						<ul class="children">
							<li class="comment">
								<div class="comment__avatar">
									<img src="assets/img/samples/news-post-img-05.jpg" alt="">
								</div>
								<div class="comment__body">
									<h6 class="comment__author">Nicholas Grissom</h6>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									</p>
									<div class="comment__meta">
										<time class="comment__date">11 minutes ago</time>
										<div class="comment__reply"><a href="#">Reply</a></div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="comment">
						<div class="comment__avatar">
							<img src="assets/img/samples/news-post-img-06.jpg" alt="">
						</div>
						<div class="comment__body">
							<h6 class="comment__author">Peter Morales</h6>
							<p>
								Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
								vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
							</p>
							<div class="comment__meta">
								<time class="comment__date">1 hour ago</time>
								<div class="comment__reply"><a href="#">Reply</a></div>
							</div>
						</div>
					</li>
				</ol>
			</div>
			<!-- Post Comments / End -->
			<!-- Comment Form -->
			<div class="post-comments-form">
				<h4 class="post-comments-form__title">Leave a comment</h4>
				<form action="#" class="comment-form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-name" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-email" placeholder="Your Email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="input-comment" cols="30" rows="5" class="form-control" id="input-comment"
									placeholder="Your Comment"></textarea>
							</div>
						</div>
					</div>
					<button class="btn btn-secondary">Post Comment</button>
				</form>
			</div>
			<!-- Comment Form / End -->
		</div>
	</div>
</main>