<!-- Content
================================================== -->
<main class="site-content player-info-page" id="wrapper">
	<div class="container container--large">
		<div class="team-carousel">
			<div class="team-carousel__content">
				<div class="team-carousel__item" data-icon="lineups">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="player-info-subtitle h4 text-uppercase">Chief Technology Officer</h3>
							<h2 class="player-info-title h1">Dominic Delmolino</h2>
							<div class="row">
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">Accenture Experience</div>
										<div class="player-info-detail__title">22 Years</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">alma mater</div>
										<div class="player-info-detail__title">Cornell, Berkely</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">Hometown</div>
										<div class="player-info-detail__title">Ithaca, NY</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">Team</div>
										<div class="player-info-detail__title">Accenture Federal Executive</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">Role</div>
										<div class="player-info-detail__title">Chief Technology Officer</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-4">
									<div class="player-info-detail">
										<div class="player-info-detail__label">Social</div>
										<ul class="social-menu social-menu--default">
											<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
											<li><a href="https://twitter.com/danfisher_dev"></a></li>
											<li><a href="twitch.com"></a></li>
											<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<p>
					Technical Executive responsible for participating in the oversight, strategy and definition of Accenture Federal Services technical offerings in the Cloud, Agile DevOps and Data Engineering areas. Direct system and data modernization, agile application and database development for high performance and rapid deployment of large-scale systems. 
							</p>

						</div>
					</div>
				</div>


<!--start-->
<!--
				<div class="team-carousel__item" data-icon="achievements">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="player-info-subtitle h5">DaVikinger90</h3>
							<h2 class="player-info-title text-uppercase">Achievements</h2>
							<div class="row">
								<div class="col-sm-12 col-md-8 col-xl-8">
									<div class="player-info-carousel" id="player-info-carousel-1">
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
									</div>
									<div class="player-info-carousel" id="player-info-carousel-2">
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--achievements-trophy">
													<use xlink:href="/assets/img/necromancers.svg#achievements-trophy" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Xenowatch World League</div>
												<div class="player-info-detail__label color-primary">1st place</div>
												<div class="player-info-detail__label">February 14th, 2017</div>
											</div>
										</div>
										<div class="player-info-detail player-info-detail--icon">
											<div class="player-info-detail__icon player-info-detail__icon--lg">
												<svg role="img" class="df-icon df-icon--award-medal">
													<use xlink:href="/assets/img/necromancers.svg#award-medal" />
												</svg>
											</div>
											<div class="player-info-detail__body">
												<div class="player-info-detail__title">Fastest kill in the league</div>
												<div class="player-info-detail__label color-primary">Killed an opponent in 0.23sec</div>
												<div class="player-info-detail__label">August 28th, 2015</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row row-between-xl-2col">
								<div class="col-md-4 col-xl-4">
									<div class="player-info-detail player-info-detail--icon">

										
									</div>
								</div>
								<div class="col-md-4 col-xl-4">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon">
											<svg role="img" class="df-icon df-icon--damage">
												<use xlink:href="/assets/img/necromancers.svg#damage" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">38.456</div>
											<div class="player-info-detail__label">Record damage</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-4">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon">
											<svg role="img" class="df-icon df-icon--healing">
												<use xlink:href="/assets/img/necromancers.svg#healing" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">58.607</div>
											<div class="player-info-detail__label">Record healing</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				--->
<!--
				<div class="team-carousel__item" data-icon="hardware">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="player-info-subtitle h5">DaVikinger90</h3>
							<h2 class="player-info-title text-uppercase">Hardware</h2>
							<div class="row">
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--gamer-mouse">
												<use xlink:href="/assets/img/necromancers.svg#gamer-mouse" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">RAPTOR RM-2569</div>
											<div class="player-info-detail__label color-primary">Raxor</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--headset">
												<use xlink:href="/assets/img/necromancers.svg#headset" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">SOUNDMASTER X5</div>
											<div class="player-info-detail__label color-primary">Sorny</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--keyboard">
												<use xlink:href="/assets/img/necromancers.svg#keyboard" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">CARBON Z81 RGB</div>
											<div class="player-info-detail__label color-primary">Buccaneer</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--screen">
												<use xlink:href="/assets/img/necromancers.svg#screen" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">GLX 0019 4K</div>
											<div class="player-info-detail__label color-primary">Sangsteen</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--gaming-chair">
												<use xlink:href="/assets/img/necromancers.svg#gaming-chair" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">BOTTOMS DELUXE 5</div>
											<div class="player-info-detail__label color-primary">Swordfish</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6">
									<div class="player-info-detail player-info-detail--icon">
										<div class="player-info-detail__icon player-info-detail__icon--lg">
											<svg role="img" class="df-icon df-icon--mousepad-and-mouse">
												<use xlink:href="/assets/img/necromancers.svg#mousepad-and-mouse" />
											</svg>
										</div>
										<div class="player-info-detail__body">
											<div class="player-info-detail__title">IRON SERIES GQ+</div>
											<div class="player-info-detail__label color-primary">GQ Solutions</div>
											<a href="#" class="player-info-detail__link">Get it now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
-->
				<div class="team-carousel__item" data-icon="replay">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="player-info-subtitle h5">Dominic's Videos</h3>

							<h2 class="player-info-title text-uppercase">Watch</h2>
							<div class="videoWrapper">
							  <iframe width="560" height="349" src="https://www.youtube.com/embed/z9BRXaGHfBs" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="team-player d-none d-lg-block">
			<div class="team-player__photo">
				<img src="assets/img/samples/player-info-page-player-photo-01.png" alt="">
			</div>
			<div class="team-player__base">
				<img src="assets/img/player-info-page-player-base-03.png" alt="">
			</div>
		</div>
	</div>
</main>