<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<figure class="page-thumbnail page-thumbnail--default">
				<img class="page-bg-logo" src="assets/img/samples/page-bg-logo.png" alt="">
			</figure>
			<h1 class="page-title h3">Shortcodes</h1>
			<div class="page-content">
				<h4 class="mb-5">Color pallete</h4>
				<div class="row">
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-01">151720</div>
					</div>
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-021">222430</div>
					</div>
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-03">5e627e</div>
					</div>
				</div>
				<span class="spacer">&nbsp;</span>
				<div class="row">
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-04">ced0da</div>
					</div>
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-05">ffcc00</div>
					</div>
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-06">ff1c5c</div>
					</div>
				</div>
				<span class="spacer">&nbsp;</span>
				<div class="row">
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-07">88df00</div>
					</div>
					<div class="col-md-4">
						<div class="color-pallete-item bc-color-pallete-08">a3ff12</div>
					</div>
				</div>
				<span class="spacer mb-3">&nbsp;</span>
				<h4 class="mb-5">Buttons</h4>
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-primary">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-primary">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-primary">Small Button</a>
						<span class="spacer d-block d-sm-none">&nbsp;</span>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-secondary">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-secondary">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-secondary">Small Button</a>
					</div>
				</div>
				<span class="spacer mb-3">&nbsp;</span>
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-success">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-success">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-success">Small Button</a>
						<span class="spacer d-block d-sm-none">&nbsp;</span>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-danger">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-danger">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-danger">Small Button</a>
					</div>
				</div>
				<span class="spacer mb-3">&nbsp;</span>
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-warning">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-warning">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-warning">Small Button</a>
						<span class="spacer d-block d-sm-none">&nbsp;</span>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-lg btn-info">Big Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-info">Medium Button</a>
						<span class="spacer">&nbsp;</span>
						<a href="#" class="btn btn-sm btn-info">Small Button</a>
					</div>
				</div>
				<span class="spacer mb-3">&nbsp;</span>
				<h4 class="mb-5">Form elements</h4>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="input-default">Default Input</label>
							<input type="text" class="form-control" id="input-default" placeholder="Default Input">
						</div>
						<div class="form-group">
							<label class="control-label" for="input-default">Complete Input</label>
							<input type="text" class="form-control" id="input-complete" placeholder="James Spiegel" value="James Spiegel">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="input-default">Active Input</label>
							<input type="text" class="form-control has-active" id="input-active" placeholder="Default Input" value="James Sp">
						</div>
						<div class="form-group">
							<label class="control-label" for="input-default">Select Input</label>
							<div class="form-group select-wrapper">
								<select name="select-rating" id="select-rating">
									<option value="5">5 Stars</option>
									<option value="4">4 Stars</option>
									<option value="3">3 Stars</option>
									<option value="2">2 Stars</option>
									<option value="1">1 Stars</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea name="input-textarea" cols="30" rows="5" class="form-control" id="input-textarea" placeholder="Large Text Box"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="input-default">Success Input</label>
							<input type="text" class="form-control has-success" id="input-success" placeholder="Default Input" value="jspiegel@yourmail.com">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="input-default">Error Input</label>
							<input type="text" class="form-control has-error" id="input-error" placeholder="Default Input" value="jspiegel@!#@$%#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
