<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<figure class="page-thumbnail page-thumbnail--default">
				<img class="page-bg-logo" src="assets/img/samples/page-bg-logo.png" alt="">
			</figure>
			<h1 class="page-title h3">Typography</h1>
			<div class="page-content">
				<h1>H1 Heading</h1>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h2>H2 Heading</h2>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h3>H3 Heading</h3>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h4>H4 Heading</h4>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h5>H5 Heading</h5>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h6>H6 Heading</h6>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="row">
					<div class="col-md-6">
						<h4>Ordered List</h4>
						<ol class="list">
							<li>Sed ut perspiciatis unde omnis iste natus.</li>
							<li>Error sit voluptatem accusantium.</li>
							<li>Doloremque laudantium, totam rem.</li>
							<li>Eaque ipsa quae ab illo inventore veritatis.</li>
							<li>Velit esse quam nihil molestiae conse.</li>
							<li>Vel illum qui dolorem eum fugiat quo.</li>
							<li>Voluptas nulla pariatur?</li>
						</ol>
					</div>
					<div class="col-md-6">
						<h4>Unordered List</h4>
						<ul class="list">
							<li>Sed ut perspiciatis unde omnis iste natus.</li>
							<li>Error sit voluptatem accusantium.</li>
							<li>Doloremque laudantium, totam rem.</li>
							<li>Eaque ipsa quae ab illo inventore veritatis.</li>
							<li>Velit esse quam nihil molestiae conse.</li>
							<li>Vel illum qui dolorem eum fugiat quo.</li>
							<li>Voluptas nulla pariatur?</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
