---
layout: landing
---
<div class="site-content__center">
	<h1 class="text-white landing-title"><span class="subtitle landing-subtitle color-blue">
		Digital Design, Engineering, and Data</span>Launch Spectrum
	</h1>
	<a href="#welcomeX" class="btn btn-primary btn-lg btn--landing"><span>Start Browsing!</span></a>
</div>

