<!-- Content
================================================== -->
<main class="site-content login-page" id="wrapper">
	<div class="row">
		<div class="col-md-6">
			<h2 class="h4">Login</h2>
			<form action="#" class="form login-form">
				<div class="form-group">
					<input type="email" class="form-control" id="input-email-1" placeholder="Your Email*">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="input-password-1" placeholder="Your Password">
				</div>
				<div class="form-group d-flex justify-content-between align-items-center">
					<label class="checkbox checkbox-inline">
						<input class="checkbox-input" type="checkbox" name="rememberme" id="rememberme" value="forever" checked> Remember me<span class="checkbox-label">&nbsp;</span>
					</label>
					<span class="password-reminder">
						<a href="#">Forgot password?</a>
					</span>
				</div>
				<button class="btn btn-block login-form__button">Login to your account!</button>
				<div class="login-form__info">or login with your social account</div>
				<a href="#" class="btn btn-block login-form__facebook-button">
					<i class="fab fa-facebook">&nbsp;</i>Facebook login
				</a>
				<a href="#" class="btn btn-block login-form__twitter-button">
					<i class="fab fa-twitter">&nbsp;</i>Twitter login
				</a>
			</form>
		</div>
		<div class="col-md-6">
			<h2 class="h4">Register now!</h2>
			<form action="#" class="form register-form">
				<div class="form-group">
					<input type="email" class="form-control" id="input-email-2" placeholder="Your Email*">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="input-password-2" placeholder="Your Password">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="input-password-3" placeholder="Repeat Password">
				</div>
				<button class="btn btn-primary btn-block register-form__button">Create your account!</button>
				<div class="register-form__info">
					You'll receive a confirmation email with </br>a link to activate your account!
				</div>
			</form>
		</div>
	</div>
</main>