<!-- Content
================================================== -->
<main class="site-content site-content--center page" id="wrapper">
	<div class="container">
		<div class="page-heading page-heading--default text-small text-center w-100">
			<div class="page-heading__subtitle h5">
				<span class="color-primary">Friday Jan 4th, 2018 /</span> Necromancers <span class="color-primary">vs</span> Ice Panthers
			</div>
			<h1 class="page-heading__title h2">League of Heroes World Cup</h1>
		</div>

		<ul class="match-stats-links match-stats-links--main match-stats-links--color-light">
			<li>
				<a href="./matches-overview-1.html">
					<svg role="img" class="df-icon df-icon--match-overview">
						<use xlink:href="/assets/img/necromancers.svg#match-overview"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="./matches-stats-1.html">
					<svg role="img" class="df-icon df-icon--match-stats">
						<use xlink:href="/assets/img/necromancers.svg#match-stats"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="active">
					<svg role="img" class="df-icon df-icon--match-lineups">
						<use xlink:href="/assets/img/necromancers.svg#match-lineups"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="./matches-replay.html">
					<svg role="img" class="df-icon df-icon--match-replay">
						<use xlink:href="/assets/img/necromancers.svg#match-replay"/>
					</svg>
				</a>
			</li>
		</ul>

		<div class="matches-tabs mt-sm-auto mb-sm-auto">
			<ul class="matches-tabs__navigation matches-tabs__navigation--color-light nav" role="tablist">
				<li class="nav-item">
					<a href="#tab-1" role="tab" data-toggle="tab" class="active">Game 01</a>
				</li>
				<li class="nav-item">
					<a href="#tab-2" role="tab" data-toggle="tab" class="">Game 02</a>
				</li>
				<li class="nav-item">
					<a href="#tab-3" role="tab" data-toggle="tab" class="">Game 03</a>
				</li>
			</ul>
			<div class="matches-tabs__content tab-content">
				<div class="match-lineups-container tab-pane fade show active" id="tab-1" role="tabpanel">
					<div class="table-responsive">
						<table class="matches-table lineups-table lineups-table--style-2">
							<thead>
								<tr>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-1"
											color-2 = "team-blue"
											team    = "necromancers"
											name    = "Necromancers"
											result  = "team 01"
										}}
									</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-strk">STRK</th>
									<th class="td-gold">Gold</th>
									<th class="td-cs td-center-left">CS</th>
									<th class="td-cs td-center-right">CS</th>
									<th class="td-gold">Gold</th>
									<th class="td-strk">STRK</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-4"
											color-2 = "team-red"
											team    = "panthers"
											name    = "Ice Panthers"
											result  = "team 02"
										}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "DaVikinger90"
											avatar   = "01"
											level    = "16"
											skill-1  = "01"
											skill-2  = "02"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">9 </span>/
										<span class="color-danger">4 </span>/
										<span class="color-warning">8</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">12.934</td>
									<td class="td-center-left team-blue">183</td>
									<td class="td-center-right team-red">211</td>
									<td class="team-red">11.937</td>
									<td class="team-red">6</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">3</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "Pixelus.GD"
											avatar   = "06"
											level    = "16"
											skill-1  = "08"
											skill-2  = "04"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "JULIE_NOIRE"
											avatar   = "02"
											level    = "14"
											skill-1  = "03"
											skill-2  = "04"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">1 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">21</span>
									</td>
									<td class="team-blue">8</td>
									<td class="team-blue">9.573</td>
									<td class="td-center-left team-blue">97</td>
									<td class="td-center-right team-red">57</td>
									<td class="team-red">8.913</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">2 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">4</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "Striker15"
											avatar   = "07"
											level    = "12"
											skill-1  = "05"
											skill-2  = "07"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "G-Huntress"
											avatar   = "03"
											level    = "16"
											skill-1  = "05"
											skill-2  = "06"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">11 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">10</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">16.109</td>
									<td class="td-center-left team-blue">267</td>
									<td class="td-center-right team-red">178</td>
									<td class="team-red">11.148</td>
									<td class="team-red">10</td>
									<td class="team-red">
										<span class="color-primary">3 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "ARROWHEAD"
											avatar   = "08"
											level    = "14"
											skill-1  = "10"
											skill-2  = "02"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "Crazzzy_80"
											avatar   = "04"
											level    = "16"
											skill-1  = "07"
											skill-2  = "08"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">8 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">17</span>
									</td>
									<td class="team-blue">9</td>
									<td class="team-blue">12.840</td>
									<td class="td-center-left team-blue">174</td>
									<td class="td-center-right team-red">207</td>
									<td class="team-red">13.218</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">8 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">7</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "TheLightning"
											avatar   = "09"
											level    = "16"
											skill-1  = "01"
											skill-2  = "09"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Jungle"
											nickname = "FAYEDBEBOP"
											avatar   = "05"
											level    = "14"
											skill-1  = "09"
											skill-2  = "10"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">7 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">14</span>
									</td>
									<td class="team-blue">5</td>
									<td class="team-blue">11.768</td>
									<td class="td-center-left team-blue">111</td>
									<td class="td-center-right team-red">156</td>
									<td class="team-red">11.189</td>
									<td class="team-red">9</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">7 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Jungle"
											nickname = "PXSlasher"
											avatar   = "10"
											level    = "13"
											skill-1  = "06"
											skill-2  = "03"
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="match-lineups-container tab-pane fade" id="tab-2" role="tabpanel">
					<div class="table-responsive">
						<table class="matches-table lineups-table lineups-table--style-2">
							<thead>
								<tr>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-1"
											color-2 = "team-blue"
											team    = "necromancers"
											name    = "Necromancers"
											result  = "team 01"
										}}
									</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-strk">STRK</th>
									<th class="td-gold">Gold</th>
									<th class="td-cs td-center-left">CS</th>
									<th class="td-cs td-center-right">CS</th>
									<th class="td-gold">Gold</th>
									<th class="td-strk">STRK</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-4"
											color-2 = "team-red"
											team    = "panthers"
											name    = "Ice Panthers"
											result  = "team 02"
										}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "JULIE_NOIRE"
											avatar   = "02"
											level    = "14"
											skill-1  = "03"
											skill-2  = "04"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">1 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">21</span>
									</td>
									<td class="team-blue">8</td>
									<td class="team-blue">9.573</td>
									<td class="td-center-left team-blue">97</td>
									<td class="td-center-right team-red">57</td>
									<td class="team-red">8.913</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">2 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">4</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "Striker15"
											avatar   = "07"
											level    = "12"
											skill-1  = "05"
											skill-2  = "07"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "DaVikinger90"
											avatar   = "01"
											level    = "16"
											skill-1  = "01"
											skill-2  = "02"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">9 </span>/
										<span class="color-danger">4 </span>/
										<span class="color-warning">8</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">12.934</td>
									<td class="td-center-left team-blue">183</td>
									<td class="td-center-right team-red">211</td>
									<td class="team-red">11.937</td>
									<td class="team-red">6</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">3</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "Pixelus.GD"
											avatar   = "06"
											level    = "16"
											skill-1  = "08"
											skill-2  = "04"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "Crazzzy_80"
											avatar   = "04"
											level    = "16"
											skill-1  = "07"
											skill-2  = "08"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">8 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">17</span>
									</td>
									<td class="team-blue">9</td>
									<td class="team-blue">12.840</td>
									<td class="td-center-left team-blue">174</td>
									<td class="td-center-right team-red">207</td>
									<td class="team-red">13.218</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">8 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">7</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "TheLightning"
											avatar   = "09"
											level    = "16"
											skill-1  = "01"
											skill-2  = "09"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Jungle"
											nickname = "FAYEDBEBOP"
											avatar   = "05"
											level    = "14"
											skill-1  = "09"
											skill-2  = "10"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">7 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">14</span>
									</td>
									<td class="team-blue">5</td>
									<td class="team-blue">11.768</td>
									<td class="td-center-left team-blue">111</td>
									<td class="td-center-right team-red">156</td>
									<td class="team-red">11.189</td>
									<td class="team-red">9</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">7 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Jungle"
											nickname = "PXSlasher"
											avatar   = "10"
											level    = "13"
											skill-1  = "06"
											skill-2  = "03"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "G-Huntress"
											avatar   = "03"
											level    = "16"
											skill-1  = "05"
											skill-2  = "06"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">11 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">10</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">16.109</td>
									<td class="td-center-left team-blue">267</td>
									<td class="td-center-right team-red">178</td>
									<td class="team-red">11.148</td>
									<td class="team-red">10</td>
									<td class="team-red">
										<span class="color-primary">3 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "ARROWHEAD"
											avatar   = "08"
											level    = "14"
											skill-1  = "10"
											skill-2  = "02"
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="match-lineups-container tab-pane fade" id="tab-3" role="tabpanel">
					<div class="table-responsive">
						<table class="matches-table lineups-table lineups-table--style-2">
							<thead>
								<tr>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-1"
											color-2 = "team-blue"
											team    = "necromancers"
											name    = "Necromancers"
											result  = "team 01"
										}}
									</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-strk">STRK</th>
									<th class="td-gold">Gold</th>
									<th class="td-cs td-center-left">CS</th>
									<th class="td-cs td-center-right">CS</th>
									<th class="td-gold">Gold</th>
									<th class="td-strk">STRK</th>
									<th class="td-kda">K / D / A</th>
									<th class="td-player">
										{{> _match-team
											size    = 30
											color   = "team-4"
											color-2 = "team-red"
											team    = "panthers"
											name    = "Ice Panthers"
											result  = "team 02"
										}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "G-Huntress"
											avatar   = "03"
											level    = "16"
											skill-1  = "05"
											skill-2  = "06"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">11 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">10</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">16.109</td>
									<td class="td-center-left team-blue">267</td>
									<td class="td-center-right team-red">178</td>
									<td class="team-red">11.148</td>
									<td class="team-red">10</td>
									<td class="team-red">
										<span class="color-primary">3 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "ARROWHEAD"
											avatar   = "08"
											level    = "14"
											skill-1  = "10"
											skill-2  = "02"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Top | Solo"
											nickname = "Crazzzy_80"
											avatar   = "04"
											level    = "16"
											skill-1  = "07"
											skill-2  = "08"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">8 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">17</span>
									</td>
									<td class="team-blue">9</td>
									<td class="team-blue">12.840</td>
									<td class="td-center-left team-blue">174</td>
									<td class="td-center-right team-red">207</td>
									<td class="team-red">13.218</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">8 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">7</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "TheLightning"
											avatar   = "09"
											level    = "16"
											skill-1  = "01"
											skill-2  = "09"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Jungle"
											nickname = "FAYEDBEBOP"
											avatar   = "05"
											level    = "14"
											skill-1  = "09"
											skill-2  = "10"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">7 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">14</span>
									</td>
									<td class="team-blue">5</td>
									<td class="team-blue">11.768</td>
									<td class="td-center-left team-blue">111</td>
									<td class="td-center-right team-red">156</td>
									<td class="team-red">11.189</td>
									<td class="team-red">9</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">7 </span>/
										<span class="color-warning">9</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Jungle"
											nickname = "PXSlasher"
											avatar   = "10"
											level    = "13"
											skill-1  = "06"
											skill-2  = "03"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "JULIE_NOIRE"
											avatar   = "02"
											level    = "14"
											skill-1  = "03"
											skill-2  = "04"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">1 </span>/
										<span class="color-danger">6 </span>/
										<span class="color-warning">21</span>
									</td>
									<td class="team-blue">8</td>
									<td class="team-blue">9.573</td>
									<td class="td-center-left team-blue">97</td>
									<td class="td-center-right team-red">57</td>
									<td class="team-red">8.913</td>
									<td class="team-red">8</td>
									<td class="team-red">
										<span class="color-primary">2 </span>/
										<span class="color-danger">9 </span>/
										<span class="color-warning">4</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Support"
											nickname = "Striker15"
											avatar   = "07"
											level    = "12"
											skill-1  = "05"
											skill-2  = "07"
										}}
									</td>
								</tr>

								<tr>
									<td class="team-blue">
										{{> _match-player
											name     = "Mid | Solo"
											nickname = "DaVikinger90"
											avatar   = "01"
											level    = "16"
											skill-1  = "01"
											skill-2  = "02"
										}}
									</td>
									<td class="team-blue">
										<span class="color-primary">9 </span>/
										<span class="color-danger">4 </span>/
										<span class="color-warning">8</span>
									</td>
									<td class="team-blue">12</td>
									<td class="team-blue">12.934</td>
									<td class="td-center-left team-blue">183</td>
									<td class="td-center-right team-red">211</td>
									<td class="team-red">11.937</td>
									<td class="team-red">6</td>
									<td class="team-red">
										<span class="color-primary">7 </span>/
										<span class="color-danger">5 </span>/
										<span class="color-warning">3</span>
									</td>
									<td class="team-red">
										{{> _match-player
											name     = "Bot | Carry"
											nickname = "Pixelus.GD"
											avatar   = "06"
											level    = "16"
											skill-1  = "08"
											skill-2  = "04"
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
