<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<!-- Post -->
			<article class="post post--single" >
				<figure class="post__thumbnail">
					<img class="img-responsive" src="assets/img/b-9.jpg" alt="">
				</figure>
</article>
			
				<ul class="post__sharing">
					<li class="post__sharing-item post__sharing-item--menu"><a href="projects.html"><i>&nbsp;</i></a></li>
				</ul>
				
				<div class="post__header">
				<div class="row">	
				<div class="col-lg-9 col-md-9 col-sm-12">
				<p class="h3">PROJECT_TITLE</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 align-top">
				<img class="img-responisive" src="assets/img/core-img/usps.png">


				</div>	
	</div>
	</div>



<!---new -->


<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="01/01/2017" class="selected">Jan 2017</a></li>
					<li><a href="#0" data-date="01/09/2017">Feb 2017</a></li>
					<li><a href="#0" data-date="01/12/2017">Dec 2017</a></li>
					<li><a href="#0" data-date="01/03/2018">Mar 2018</a></li>
					<li><a href="#0" data-date="09/05/2018">June 2018</a></li>
          <li><a href="#0" data-date="01/01/2019">Jan 2019</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<p class="h4">DISCOVER - Indentify the goals</p>
				<p>We met up with Mark Harris and made a comparative analysis of the current state of the USPS site.</p>
				
			</li>

			<li data-date="01/09/2017">
				<p class="h4">Fanshawe College Cyber Security</p>
			
				<p>	
					In September, 2018 I enrolled into the Cyber Security course at Fanshawe College.
				</p><br>
        <p>Key courses include: </p>
			</li>

			<li data-date="01/12/2017">
				<p class="h4">CTF</p>
		
				<p>	
					Participated in CTF.
				</p>
			</li>

			<li data-date="01/03/2018">
				<p class="h4">Event title here</p>
			
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="09/07/2014">
				<p class="h4">Event title here</p>
				
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="30/08/2014">
				<p class="h4">Event title here</p>
		
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="15/09/2014">
				<p class="h4">Event title here</p>
				
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="01/11/2014">
				<p class="h4">Event title here</p>
		
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="10/12/2014">
				<p class="h4">Event title here</p>
			
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="19/01/2015">
				<p class="h4">Event title here</p>
				
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="03/03/2015">
				<p class="h4">Event title here</p>
				
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
	


<!--new--->


					<div class="col-lg-12 col-md-12 col-sm-12 mb-4">
					<div class="row project-border pt-3 pb-2 bg-light">


					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>Technology</b><br/> 
					<ul class="list-inline project-contributors">
					<li class="pl-1"><a href="">React</a>, </li>
					<li class="pl-1"><a href="">JSON</a>,</li>
					<li class="pl-1"><a href="">HTML</a>,</li> 
					<li class="pl-1"><a href="">CSS</a>, </li>
					<li class="pl-1"><a href="">Bootstrap</a>, </li>
					<li class="pl-1"><a href="">Adobe Suites</a>, </li>
					<li class="pl-1"><a href="">Gitbash</a>,</li>
					<li class="pl-1"><a href="">Github</a></li>

					<!----->
					</ul>
					</div>
					<!---->


					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>Contributors</b><br/>
<ul class="list-inline project-contributors">
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
 <li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
 <li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li> <a href=""> <img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></a></li>
<li class="pt-2 pl-1">

<span class="badge badge-primary badge-pill" data-toggle="modal" data-target="#contributors">14+</span>

	</li>
					</ul>
					</div>
					<!----> 

					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>Current State</b>
					<span class="project-numbers">RELEASED</span>
					</div>
					<!---->


					</div>	 


					</div>
			
				<div class="post__body">
<p class="h4" id="description">Project Description</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim en veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
						ex ea derum commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
						eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum modi tempora incidunt.
					</p>
					
					<table class="table table-sm table-dark p-3">
  <thead>
    <tr>
   
      <th scope="col">Release Date</th>
      <th scope="col">Version</th>
    
    </tr>
  </thead>
  <tbody class="pl-3">
    <tr>
      
      <td>January 23, 2020</td>
      <td>Beta</td>
     
    </tr>
    <tr>
      
      <td>May 29, 2020</td>
      <td>Test</td>
      
    </tr>
    <tr class="bg-primary">
     
      <td>June 12, 2020</td>
     <td>version.1.1 <i class="fas fa-asterisk"></i></td>
    </tr>

	<tr>
     
      <td>June 27, 2020</td>
     <td>version.1.1.2</td>
    </tr>
  </tbody>
</table>

<a href="#" class="btn dream-btn mr-3 mb-3">Latest release</a>
					
<p class="h5 widget__title mt-4" id="partners">Partners</p>


<div class="row">

<div class="col-lg-2 col-md-4 col-sm-6">
<img class="img-responsive rounded-circle shadow" src="assets/img/core-img/Fjord-logo-black-large.png" alt="">
</div>

<div class="col-lg-2 col-md-4 col-sm-6">
<img class="img-responsive rounded-circle shadow" src="assets/img/core-img/Fjord-logo-black-large.png" alt="">
</div>

<div class="col-lg-2 col-md-4 col-sm-6">
<img class="img-responsive rounded-circle shadow" src="assets/img/core-img/Fjord-logo-black-large.png" alt="">
</div>

</div>

				</div>
		
			<!-- Post / End -->


		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="contributors" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
	
        <h5 class="modal-title text-center" id="exampleModalLabel">on this project 
			<span class="badge badge-primary badge-pill" data-toggle="modal" data-target="#contributors">14</span>
		</h5>
		
		 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
		  

 <ul class="list-inline text-center">

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/kathy.conrad.jpg" class="shadow rounded-circle" alt="Kathy Conrad">
<div class="info-box__label pt-3">Kathy Conrad</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/elizabeth.a.relle.jpg" class="shadow rounded-circle" alt="Elizabeth Relle">
<div class="info-box__label pt-3">Elizabeth Relle</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/aaron.pujanandez.jpg" class="shadow rounded-circle" alt="Aaron Pujanandez">
<div class="info-box__label pt-3">Aaron Pujanandez</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/kathryn.m.ohare.jpg" class="shadow rounded-circle" alt="Katharine Graham">
<div class="info-box__label pt-3">Katharine Graham</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/elizabeth.a.relle.jpg" class="shadow rounded-circle" alt="Elizabeth Relle">
<div class="info-box__label pt-3">Elizabeth Relle</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/aaron.pujanandez.jpg" class="shadow rounded-circle" alt="Aaron Pujanandez">
<div class="info-box__label pt-3">Aaron Pujanandez</div>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/kathy.conrad.jpg" class="shadow rounded-circle" alt="Kathy Conrad">
<div class="info-box__label pt-3">Kathy Conrad</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/elizabeth.a.relle.jpg" class="shadow rounded-circle" alt="Elizabeth Relle">
<div class="info-box__label pt-3">Elizabeth Relle</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/aaron.pujanandez.jpg" class="shadow rounded-circle" alt="Aaron Pujanandez">
<div class="info-box__label pt-3">Aaron Pujanandez</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/kathy.conrad.jpg" class="shadow rounded-circle" alt="Kathy Conrad">
<div class="info-box__label pt-3">Kathy Conrad</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/elizabeth.a.relle.jpg" class="shadow rounded-circle" alt="Elizabeth Relle">
<div class="info-box__label pt-3">Elizabeth Relle</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/aaron.pujanandez.jpg" class="shadow rounded-circle" alt="Aaron Pujanandez">
<div class="info-box__label pt-3">Aaron Pujanandez</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/aaron.pujanandez.jpg" class="shadow rounded-circle" alt="Aaron Pujanandez">
<div class="info-box__label pt-3">Aaron Pujanandez</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-6 mb-5">
<img src="assets/img/people/cropped/kathryn.m.ohare.jpg" class="shadow rounded-circle" alt="Katharine Graham">
<div class="info-box__label pt-3">Katharine Graham</div>
</li>


	</ul> 
      </div>
	  <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>--->
    </div>
  </div>
</div>

</main>

