<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<!-- Post -->
			<article class="post post--single" >
				<figure class="post__thumbnail">
					<img src="assets/img/bg-projects-wxxds.png" alt="">
				</figure>

				<ul class="post__sharing">
					<li class="post__sharing-item post__sharing-item--menu"><a href="projects.html"><i>&nbsp;</i></a></li>
				</ul>


				<div class="post__header">
					<img src="assets/img/core-img/usps.png">

				<!---
					<h2 class="post__title h3">COMET FOR THE WIN!</h2>
					<div class="post__meta">
						<span class="meta-item meta-item--date">August 15th, 2018</span>
					</div>--->


					<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row project-border pt-3 pb-2">


					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>Tags</b><br/>
					React, JSON, HTML, CSS, Bootstrap, Adobe Suites, Gitbash,
					Github
					</div>
					<!---->


					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>Contributors</b><br/>
					<ul class="list-inline project-contributors">
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
 <li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
 <li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
<li><img class="img-responsive rounded-circle" src="assets/img/people/cropped/pablo.alexo.jr.jpg" alt="Pablo Alexo"></li>
					</ul>
					</div>
					<!----> 

					<!---->
					<div class="col-lg-4 col-md-4 col-sm-4">
					<b>End date</b>
					<span class="project-numbers">2020</span>
					</div>
					<!---->


					</div>	 


					</div>
				</div>
				<div class="post__body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim en veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
						ex ea derum commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
						eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum modi tempora incidunt.
					</p>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
						aperiam, eaque ipsa quae ab illo lorem inventore veritatis et quasi architecto beatae vitae dicta sunt
						explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
						magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora der incidunt ut labore
						et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
						corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
						reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
						fugiat?
					</p>
					<figure>
						<img src="assets/img/samples/news-post-img-02.jpg" alt="">
						<figcaption>This is "Stormy" the last character that was introduced to the game</figcaption>
					</figure>
					<p>
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
						laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
						explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
						magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
						dolore magnam aliquam quaerat.
					</p>
				</div>
			</article>
			<!-- Post / End -->


		</div>
	</div>
</main>