<!-- Content
================================================== -->
<main class="site-content site-content--center page" id="wrapper">
	<div class="container container--large">
		<div class="page-heading page-heading--default text-center w-100">
			<div class="page-heading__subtitle h5">
				<span class="color-primary">Please Select A</span>
			</div>
			<h1 class="page-heading__title h2">Game Squad</h1>
		</div>
			<div class="row mt-sm-auto mb-sm-auto teamX">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/1.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                         <h5>Sunny khan</h5>
                            <p>Executive Officer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/2.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Ajoy Das</h5>
                            <p>Business Development</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/3.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Afroza Mou</h5>
                            <p>UX/UI Designer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/4.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Lim Sarah</h5>
                            <p>Head of Marketing</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/1.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Sunny khan</h5>
                            <p>Executive Officer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/2.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Ajoy Das</h5>
                            <p>Business Development</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/3.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Afroza Mou</h5>
                            <p>UX/UI Designer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="assets/img/team-img/4.png" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Lim Sarah</h5>
                            <p>Head of Marketing</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
	</div>
</main>
