<!-- Content
================================================== -->
<main class="site-content team-info-page" id="wrapper">
	<div class="container container--large">
		<div class="row">
			<div class="col-lg-7 col-md-12 col-sm-12">
				<div class="team-carousel">
					<div class="team-carousel__content">
						<div class="team-carousel__item" data-icon="team-overview">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h3 class="player-info-subtitle h4 text-uppercase">Digital Design, Engineering, and Data</h3>
									<h2 class="player-info-title h1 text-uppercase">DC Digital Studio</h2>
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
											<div class="player-info-detail">
												<div class="player-info-detail__label">Country</div>
												<div class="player-info-detail__title">United States</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
											<div class="player-info-detail">
												<div class="player-info-detail__label">Since</div>
												<div class="player-info-detail__title">May 2018</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
											<div class="player-info-detail">
												<div class="player-info-detail__label">Total Staff</div>
												<div class="player-info-detail__title color-primary">105</div>
											</div>
										</div>
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aliquip ex ea commodo consequat.
									</p>



						</div>
						</div>
						</div>
						

						<div class="team-carousel__item" data-icon="stats">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h3 class="player-info-subtitle h4 text-uppercase">Comprehensive</h3>
									<h2 class="player-info-title h1 text-uppercase">Team Overview</h2>
									<div class="row row-mb-balance">
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="player-info-detail player-info-detail--value">
												<div class="player-info-detail__value h3">40%</div>
												<div class="player-info-detail__body">
													<div class="player-info-detail__label">Discovery Lab</div>
													<div class="player-info-detail__title">Designers</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="player-info-detail player-info-detail--value">
												<div class="player-info-detail__value h3">26%</div>
												<div class="player-info-detail__body">
													<div class="player-info-detail__label">Devops</div>
													<div class="player-info-detail__title">Back-end development</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="player-info-detail player-info-detail--value">
												<div class="player-info-detail__value h3">14%</div>
												<div class="player-info-detail__body">
													<div class="player-info-detail__label">Rapid Prototyping</div>
													<div class="player-info-detail__title">Designers</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="player-info-detail player-info-detail--value">
												<div class="player-info-detail__value h3">10%</div>
												<div class="player-info-detail__body">
													<div class="player-info-detail__label">Fjord</div>
													<div class="player-info-detail__title">Designers</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="player-info-detail player-info-detail--value">
												<div class="player-info-detail__value h3">10%</div>
												<div class="player-info-detail__body">
													<div class="player-info-detail__label">Engineering</div>
													<div class="player-info-detail__title">Cloud services, AI, VR</div>
												</div>
											</div>
										</div>
<!---end-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="team-player">
		<div class="container container--large">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-4 offset-lg-7 d-none d-lg-block">
					<!-- Filter -->
					<ul class="team-player__filter list-unstyled nav">
						<li>
							<a href="#player-1" role="tab" data-toggle="tab" class="active">
								<img src="assets/img/samples/streams-filter-avatar-02.png" alt="">
							</a>
						</li>
						<li>
							<a href="#player-2" role="tab" data-toggle="tab">
								<img src="assets/img/samples/streams-filter-avatar-03.png" alt="">
							</a>
						</li>
						<li>
							<a href="#player-3" role="tab" data-toggle="tab">
								<img src="assets/img/samples/streams-filter-avatar-04.png" alt="">
							</a>
						</li>
						<li>
							<a href="#player-4" role="tab" data-toggle="tab">
								<img src="assets/img/samples/streams-filter-avatar-05.png" alt="">
							</a>
						</li>
						<li>
							<a href="#player-5" role="tab" data-toggle="tab">
								<img src="assets/img/samples/streams-filter-avatar-06.png" alt="">
							</a>
						</li>
					</ul>
					<!-- Filter / End -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="player-1" role="tabpanel">
							<div class="team-player__info">
								<div class="team-player__header">
									<h2 class="team-player__name h6 color-primary">Studio Lead</h2>
									<h1 class="team-player__nickname h3">
										<span class="position-relative">TBD<a class="add-icon" href="cto.html"></a></span>
									</h1>
									<ul class="social-menu social-menu--default pb-4">
										<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
										<li><a href="https://twitter.com/danfisher_dev"></a></li>
										<li><a href="twitch.com"></a></li>
										<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
									</ul>
								</div>
								<div class="team-player__photo">
									<img class="img-fluid mb-4" src="assets/img/samples/team-info-page-player-photo-01.png" alt="">
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="player-2" role="tabpanel">
							<div class="team-player__info">
								<div class="team-player__header">
									<h2 class="team-player__name h6 color-primary">Rapid Prototyping Lead</h2>
									<h1 class="team-player__nickname h3">
										<span class="position-relative">Michael Ramos<a class="add-icon"
												href="team-player-2.html"></a></span>
									</h1>
									<ul class="social-menu social-menu--default pb-4">
										<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
										<li><a href="https://twitter.com/danfisher_dev"></a></li>
										<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
									</ul>
								</div>
								<div class="team-player__photo">
									<img src="assets/img/samples/team-info-page-player-photo-01.png" alt="">
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="player-3" role="tabpanel">
							<div class="team-player__info">
								<div class="team-player__header">
									<h2 class="team-player__name h6 color-primary">Discovery Lab Lead</h2>
									<h1 class="team-player__nickname h3">
										<span class="position-relative">Aaron Pujanandez<a class="add-icon"
												href="team-player-3.html"></a></span>
									</h1>
									<ul class="social-menu social-menu--default pb-4">
										<li><a href="https://twitter.com/danfisher_dev"></a></li>
										<li><a href="twitch.com"></a></li>
										<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
									</ul>
								</div>
								<div class="team-player__photo">
									<img src="assets/img/samples/team-info-page-player-photo-01.png" alt="">
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="player-4" role="tabpanel">
							<div class="team-player__info">
								<div class="team-player__header">
									<h2 class="team-player__name h6 color-primary">Mark Jhonson</h2>
									<h1 class="team-player__nickname h3">
										<span class="position-relative">Crazzzy_80<a class="add-icon" href="team-player-4.html"></a></span>
									</h1>
									<ul class="social-menu social-menu--default pb-4">
										<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
										<li><a href="https://twitter.com/danfisher_dev"></a></li>
										<li><a href="twitch.com"></a></li>
										<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
									</ul>
								</div>
								<div class="team-player__photo">
									<img src="assets/img/samples/team-info-page-player-photo-04.png" alt="">
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="player-5" role="tabpanel">
							<div class="team-player__info">
								<div class="team-player__header">
									<h2 class="team-player__name h6 color-primary">Sarah Stacy</h2>
									<h1 class="team-player__nickname h3">
										<span class="position-relative">FAYEDBEBOP<a class="add-icon" href="team-player-5.html"></a></span>
									</h1>
									<ul class="social-menu social-menu--default pb-4">
										<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
										<li><a href="twitch.com"></a></li>
										<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
									</ul>
								</div>
								<div class="team-player__photo">
									<img src="assets/img/samples/team-info-page-player-photo-05.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
<!--end-->



			</div>


		</div>
	</div>

							<!-- mobile device veiw --->
							<div class="row pt-3">
							<div class="col-lg-12 col-md-12 col-sm-12 d-lg-none">

							<!--start-->
							<div class="col-sm-6 col-md-4 pb-4 text-center">
							<img src="assets/img/team-img/2.png" class="img-fluid mb-4" alt="" />
							 <p class="team-player__name h6 text-white">Studio Lead</p>
							<p class="">Michael Ramos</p>
							<ul class="social-menu social-menu--default pb-4">
							<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
							<li><a href="https://twitter.com/danfisher_dev"></a></li>
							<li><a href="twitch.com"></a></li>
							<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
							</ul>
							</div>
							<!---->	

							<!--start-->
							<div class="col-sm-6 col-md-4 pb-4 text-center">
							<img src="assets/img/team-img/2.png" class="img-fluid mb-4" alt="" />
							<h2 class="team-player__name h6 text-white">RAPID PROTOTYPING</h2>
							<p class="">Michael Ramos</p>
							<ul class="social-menu social-menu--default pb-4">
							<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
							<li><a href="https://twitter.com/danfisher_dev"></a></li>
							<li><a href="twitch.com"></a></li>
							<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
							</ul>
							</div>
							<!---->

							<!--start-->
							<div class="col-sm-6 col-md-4 pb-4 text-center">
							<img src="assets/img/team-img/2.png" class="img-fluid mb-4 " alt="" />
							<h2 class="team-player__name h6 text-white">DISCOVERY LAB LEAD</h2>
							<p class="">Aaron Pujanandez</p>
							<ul class="social-menu social-menu--default pb-4">
							<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
							<li><a href="https://twitter.com/danfisher_dev"></a></li>
							<li><a href="twitch.com"></a></li>
							<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
							</ul>
							</div>
							<!---->	

							<!--start-->
							<div class="col-sm-6 col-md-4 pb-4 text-center">
							<img src="assets/img/team-img/2.png" class="img-fluid mb-4" alt="" />
							 <p class="team-player__name h6 text-white">Studio Lead</p>
							<p class="">Michael Ramos</p>
							<ul class="social-menu social-menu--default pb-4">
							<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
							<li><a href="https://twitter.com/danfisher_dev"></a></li>
							<li><a href="twitch.com"></a></li>
							<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
							</ul>
							</div>
							<!---->		


							<!--start-->
							<div class="col-sm-6 col-md-4 pb-4 text-center">
							<img src="assets/img/team-img/2.png" class="img-fluid mb-4" alt="" />
							 <p class="team-player__name h6 text-white">Studio Lead</p>
							<p class="">Michael Ramos</p>
							<ul class="social-menu social-menu--default pb-4">
							<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
							<li><a href="https://twitter.com/danfisher_dev"></a></li>
							<li><a href="twitch.com"></a></li>
							<li><a href="https://www.instagram.com/dan.fisher.dev/"></a></li>
							</ul>
							</div>
							<!---->	


							</div>
							
							</div>

</main>