<!-- Header
================================================== -->
<header id="header" class="site-header site-header--landing">

	{{> _landing-navigation--left }}

	<!-- Logo - Image Based -->
	<div class="header-logo header-logo--img">
		<a href="index.html"><img src="{{../root}}assets/img/logo.png" srcset="{{../root}}assets/img/logo@2x.png 2x" alt="{{global.site-name}}"></a>
	</div>
	<!-- Logo - Image Based / End -->

	{{> _landing-navigation--right }}
</header>
<!-- Header / End -->
