<div class="preloader-overlay">
	<div id="js-preloader" class="preloader">
		<div class="preloader-inner fadeInUp">
			<div class="pong-loader"></div>
			<svg role="img" class="df-icon df-icon--preloader-arcade">
				<use xlink:href="/assets/img/necromancers.svg#preloader-arcade"/>
			</svg>
		</div>
	</div>
</div>