<!-- Search Panel -->
<div class="search-panel">


<label class="switch">
	
  <input type="checkbox" checked>
  <span class="slider round"></span>
  <br/> <br/> 
Search Projects
</label>

	<div class="search-panel__content">
		<form role="form" id="header-search-form" class="search-form search-form--header">
			<input type="text" class="form-control" value="" id="people-search" placeholder="What are you looking for...?">
		</form>
		<span>Write what you are looking for, choose the filters and press enter to begin your search!</span>
		
	<div id="filter-records"></div>
	
	</div>



</div>
<!-- Search Panel / End -->