<!-- Widget: Text -->
<section class="widget widget-text">
	<h5 class="widget__title">Join our team</h5>
	<div class="widget__content">
		<p>
			We’re always looking for new talent to join our teams. If you want to join us, just send us an email and we’ll
					get back to you!
		</p>
		<div class="info-box">
			<div class="info-box__label">Zach Smith - Team Operations Manager</div>
			<div class="info-box__content"><a href="mailto:#">z.smith<span
						class="color-success">@</span>accenturefederal.com</a></div>			
		</div>
		<div class="info-box">
			<div class="info-box__label">Kathryn O'Hare - Creative Manager</div>
			<div class="info-box__content"><a href="mailto:#">kathryn.m.ohare<span
						class="color-success">@</span>accenturefederal.com</a></div>
		</div>
	</div>
</section>
<!-- Widget: Text / End -->