<!-- Widget: Posts -->
<div class="widget widget--sidebar widget_posts">
	<header class="widget__header">
		<h3 class="widget__title">Popular Posts</h3>
	</header>
	<div class="widget__content">
		<ul class="posts-list">
			<li class="posts-list__item posts-list__item--post-1">
				<a href="blog-post.html" class="posts-list__holder">
					<span class="posts-list__date">02/25/2017</span>
					<h5 class="posts-list__title">Kidnapped Game Now Open</h5>
				</a>
			</li>
			<li class="posts-list__item posts-list__item--post-2">
				<a href="blog-post.html" class="posts-list__holder">
					<span class="posts-list__date">02/13/2017</span>
					<h5 class="posts-list__title">What is an Escape Room?</h5>
				</a>
			</li>
			<li class="posts-list__item posts-list__item--post-3">
				<a href="blog-post.html" class="posts-list__holder">
					<span class="posts-list__date">01/25/2017</span>
					<h5 class="posts-list__title">Perfect for Team Building</h5>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Widget: Posts / End -->