<!-- Widget: Archive -->
<div class="widget widget--sidebar widget_archive">
	<header class="widget__header">
		<h3 class="widget__title">Archive</h3>
	</header>
	<div class="widget__content">
		<ul>
			<li><a href="#">February 2017</a></li>
			<li><a href="#">January 2017</a></li>
			<li><a href="#">December 2016</a></li>
			<li><a href="#">November 2016</a></li>
			<li><a href="#">October 2016</a></li>
			<li><a href="#">September 2016</a></li>
		</ul>
	</div>
</div>
<!-- Widget: Archive / End -->