<!-- Widget: Tags -->
<div class="widget widget--sidebar widget_tagcloud">
	<header class="widget__header">
		<h3 class="widget__title">Tags</h3>
	</header>
	<div class="widget__content">
		<div class="tagcloud">
			<a href="#" class="btn btn-sm btn-outline-secondary">Escape</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Room</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Mystery</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Clock</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Mechanisms</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Game</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Puzzle</a>
			<a href="#" class="btn btn-sm btn-outline-secondary">Promo</a>
		</div>
	</div>
</div>
<!-- Widget: Tags / End -->