<!-- Widget: Categories -->
<div class="widget widget--sidebar widget_categories">
	<header class="widget__header">
		<h3 class="widget__title">Categories</h3>
	</header>
	<div class="widget__content">
		<ul>
			<li><a href="#">Leadership Development</a></li>
			<li><a href="#">Observe Interactions</a></li>
			<li><a href="#">Motivation</a></li>
			<li><a href="#">Synergy</a></li>
			<li><a href="#">Promotions</a></li>
			<li><a href="#">Team Building</a></li>
			<li><a href="#">Corporate Events</a></li>
		</ul>
	</div>
</div>
<!-- Widget: Categories / End -->