<!-- Widget: Facebook -->
<div class="widget widget-loop widget-facebook">
	<div class="widget-facebook__icon">
		<i class="fab fa-facebook">&nbsp;</i>
	</div>
	<div class="widget-facebook__body">
		<div class="widget-facebook__count h4">12.536+</div>
		<div class="widget-facebook__label">Likes & Followers</div>
	</div>
</div>
<!-- Widget: Facebook / End -->