<div class="widget widget-carousel slick-slider">
	<article class="widget-carousel__item post slick-slide">
		<div class="post__thumbnail">
			<img src="assets/img/samples/widget-posts-carousel-img-01.jpg" alt="">
		</div>
		<div class="post__body">
			<ul class="post__cats list-unstyled">
				<li class="post__cats-item color-primary">
					<a href="#">HERE AT DSDC</a>
				</li>
			</ul>
			<h2 class="post__title h3"><a href="blog-post.html">We rapidly prototype and deliver software </a></h2>
			<ul class="post__meta list-unstyled">
				<li class="post__meta-item post__meta-item--date">
					<a href="#">to help you reach customers and enter new markets.</a>
				</li>
			</ul>
		</div>
	</article>
</div>
