<!-- Widget: Partners Carousel -->
<section class="widget widget-partners-carousel">
	<h5 class="widget__title">Our Partners</h5>
	<div class="widget__content">
		<ul>
			<li>
				<img src="assets/img/samples/partner-carousel-img-01.png" alt="">
			</li>
			<li>
				<img src="assets/img/samples/partner-carousel-img-02.png" alt="">
			</li>
			<li>
				<img src="assets/img/samples/partner-carousel-img-03.png" alt="">
			</li>
			<li>
				<img src="assets/img/samples/partner-carousel-img-01.png" alt="">
			</li>
			<li>
				<img src="assets/img/samples/partner-carousel-img-02.png" alt="">
			</li>
			<li>
				<img src="assets/img/samples/partner-carousel-img-03.png" alt="">
			</li>
		</ul>
	</div>
</section>
<!-- Widget: Partners Carousel / End -->
