<!-- Widget: Contact Info -->
<section class="widget widget-contact-info">
	<h5 class="widget__title">General Inqueries</h5>
	<div class="widget__content">
		<p>
			If you have any questions, just send us an email and don’t forget to follow and like all our social accounts to
			keep updated!
		</p>
		<div class="info-box">
			<div class="info-box__label">Jon Gabriel - Digital Producer</div>
					<div class="info-box__content"><a href="mailto:#">jon.m.gabriel<span
								class="color-success">@</span>accenturefederal.com</a></div>
		</div>
		<ul class="social-menu social-menu--default">
			<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
			<li><a href="https://twitter.com/danfisher_dev"></a></li>
			<li><a href="twitch.com"></a></li>
			<li><a href="discordapp.com"></a></li>
		</ul>
	</div>
</section>
<!-- Widget: Contact Info / End -->