<!-- Widget: Twitter -->
<div class="widget widget-loop widget-twitter">
	<div class="widget-twitter__icon">
		<i class="fab fa-twitter">&nbsp;</i>
	</div>
	<div class="widget-twitter__body">
		<div class="widget-twitter__message">
			The team is preparing to battle <a href="#">@octopusgaming</a> at the <a href="#">#Xenowatch</a> League finals <a href="#">#battle</a> <a href="#">#league</a>
		</div>
		<a href="#" class="widget-twitter__date">2 Hours Ago</a>
	</div>
</div>
<!-- Widget: Twitter / End -->