<!-- Widget: Twitch -->
<div class="widget widget-loop widget-twitch">
	<div class="widget-twitch__icon">
		<svg role="img" class="df-icon df-icon--twitch-word-logo">
			<use xlink:href="/assets/img/necromancers.svg#twitch-word-logo"/>
		</svg>
	</div>
	<div class="widget-twitch__body">
		<h5 class="widget-twitch__title">Upcoming Livestream</h5>
		<div class="widget-twitch__message">This Saturday, at 9:00PM PTC, join <a href="team-player-3.html" class="color-warning">G-HUNTRESS</a> as she plays the new <a href="#">League of Heroes</a> Ice Warriors update!</div>
		<div class="countdown-counter" data-date="September 30, 2019 08:00:00"></div>
	</div>
</div>
<!-- Widget: Twitch / End -->
