<div class="widget widget-carousel slick-slider">
	<article class="widget-carousel__item slick-slide player bg-image bg--ph-03">
		<div class="player__subtitle h6">Welcome</div>
		<h1 class="player__title h3 color-primary">JULIE NOIRE</h1>
		<div class="player__body">
			<div class="h5">To the <span class="color-primary">Discovery Lab</span> team!</div>
		</div>
		<div class="player__thumbnail">
			<img src="assets/img/samples/team-info-page-player-photo-03.png" alt="">
			<a href="team-player-3.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
		</div>
	</article>
	<article class="widget-carousel__item slick-slide player bg-image bg--ph-05">
		<div class="player__subtitle h6">Congratulations!</div>
		<h1 class="player__title h3">Eric Dai</h1>
		<div class="player__body">
			<div class="h5 color-primary">Delivered Alexa Amtrak app</div>
		</div>
		<div class="player__thumbnail">
			<img src="assets/img/samples/team-info-page-player-photo-04.png" alt="">
			<a href="team-player-4.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
		</div>
	</article>
	<article class="widget-carousel__item slick-slide player bg-image bg--ph-06">
		<div class="player__subtitle h6">Featured Team Member</div>
		<h1 class="player__title h3 color-warning">Jordan Taylor</h1>
		<div class="player__body">
			<ul class="player__stats">
				<li class="counter">
					<div class="counter__number">28</div>
					<div class="counter__label">Engagements</div>
				</li>
				<li class="counter">
					<div class="counter__number">73</div>
					<div class="counter__label">Conversations</div>
				</li>
				<li class="counter">
					<div class="counter__number">10</div>
					<div class="counter__label">Lead Efforts</div>
				</li>
			</ul>
		</div>
		<div class="player__thumbnail">
			<img src="assets/img/samples/team-info-page-player-photo-01.png" alt="">
			<a href="team-player-2.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
		</div>
	</article>
</div>